In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error, r2_score
import os, fnmatch
from sklearn.cluster import KMeans
from sklearn.preprocessing import PolynomialFeatures 
import seaborn as sns
%matplotlib inline
from keras.layers import Input, Dense
from keras.models import Model
# from keras.op
from keras import optimizers
from keras import regularizers
from PIL import Image
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

import keras
from keras.models import load_model
from keras.datasets import cifar10
from keras.layers import Input, Dense, Conv2D, MaxPooling2D, UpSampling2D, BatchNormalization, Activation
from keras.models import Model
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.optimizers import Adam
import os
import pickle
import numpy as np

In [10]:
data = pd.read_csv("DFBS_Unique.csv");

In [11]:
data.head()

,Unnamed: 0,_Glon,_Glat,_RAJ2000,_DEJ2000,Cl,Name,Vmag,z,plate,dx,dy
0,0,deg,deg,deg,deg,NaN,NaN,mag,NaN,NaN,0,0
1,1,100.174423,-55.203358,0.04875,5.388056,Sy1,RXS J00001+0523,16.4,0.040,fbs0524_cor.fits.hdr,5424,857
2,2,99.844434,-57.30727,0.61,3.351667,Sy1,MARK 543,14.68,0.026,fbs1173_cor.fits.hdr,3982,5088
3,3,86.112841,-70.112882,0.88375,-10.744722,Sy1,NGC 7808,15.4,0.029,fbs0874_cor.fits.hdr,2871,555
4,4,114.304767,-16.638006,1.039583,45.440278,Sy1,RXS J00041+4526,16.9,0.120,fbs1036_cor.fits.hdr,3623,594

In [12]:
all_tiff_files = []
listOfFiles = os.listdir('./UClassificationDataCleaned/')
pattern = "*.tiff"
for entry in listOfFiles:
    if fnmatch.fnmatch(entry, pattern):
            all_tiff_files.append('./UClassificationDataCleaned/'+entry)

In [13]:
len(all_tiff_files)

2951

In [14]:
new_index = 0
arr_data = []
for index, row in data.iterrows():
    if index == 0: continue
    glon = row["_Glon"]
    glat = row["_Glat"]
    raj = row["_RAJ2000"]
    dej = row["_DEJ2000"]
    cl = row["Cl"]
    name = row["Name"]
    vmag = row["Vmag"]
    z = row["z"]
    plate = row["plate"]
    dx = row["dx"]
    dy = row["dy"]
    #if cl == "C" or cl == "PN" or cl == "cv" : 
    #    continue
        
    for i in range(len(all_tiff_files)):
        file_name = (all_tiff_files[i].split("/")[2]).split(".tiff")[0];
        if name == file_name:
            arr_obj = []
            arr_obj.append(name)
            arr_obj.append(cl)
            arr_obj.append(all_tiff_files[i])
            arr_data.append(arr_obj)
            break

In [15]:
cl_data = pd.DataFrame(arr_data)
cl_data.head()

                 0    1                                                  2
0  RXS J00001+0523  Sy1  ./UClassificationDataCleaned/RXS J00001+0523.tiff
1         MARK 543  Sy1         ./UClassificationDataCleaned/MARK 543.tiff
2         NGC 7808  Sy1         ./UClassificationDataCleaned/NGC 7808.tiff
3         MARK 335  Sy1         ./UClassificationDataCleaned/MARK 335.tiff
4    MS 00071-0231  Sy1    ./UClassificationDataCleaned/MS 00071-0231.tiff

In [16]:
cl_data[1].value_counts()

sd     989
Mrk    526
M      452
WD     309
Sy1    304
QSO    273
cv      63
PN      21
C       14
Name: 1, dtype: int64

In [18]:
for index, row in cl_data.iterrows():
    cl = row[1]
    path = row[2]
    im = Image.open(path)
    arr = np.array(im)#.flatten()
    image = Image.fromarray(arr, 'I;16')
    
    new_path = "./Class/"+cl+"/"+path.split("/")[2]
    
    image.save(new_path)